{{#each this}}
<li class="gallery__item" id={{id}} data-img={{poster_path}}>
    {{#if poster_path}}
    <img loading="lazy" class="gallery__img modal" src=https://www.themoviedb.org/t/p/w500{{poster_path}}
        alt="{{title}}" />
    {{else}}
    <div class="gallery__img-error modal">Sorry... We don't have poster for this movie &#9785;</div>
    {{/if}}
    <div class="gallery__description modal" id={{id}} data-img={{poster_path}} data-genres={{genres}}>
        {{#if title}}
        <p class="gallery__title modal">{{title}}</p>
        {{else if name}}
        <p class="gallery__title modal">{{title}}</p>
        {{/if}}
        <div class='gallery__description-text modal'>
            <ul class='gallery__description-list modal' id={{id}} data-img={{poster_path}}>{{#if genres}}{{#each
                genres}}
                <li class='gallery__description-item modal'>{{name}}</li>{{/each}}{{else}}<p>No genres</p>{{/if}}&nbsp;|
            </ul>
            <div>&nbsp;{{#if release_date}}{{release_date}}{{else if
                first_air_date}}{{first_air_date}}{{else}}<span>N/a</span>{{/if}}
            </div>
            <div class='gallery__description-vote'>{{vote_average}}</div>
        </div>
    </div>
</li>
{{/each}}