{{#each results}}
            <li class="gallery__item" id={{id}}>
                <img class="gallery__img" src=https://www.themoviedb.org/t/p/w500{{poster_path}} alt={{title}} />
                <div class="gallery__description">
                    <p class="gallery__title">{{title}}</p>
                    <ul class='gallery__description-list'>{{#each genre_ids}}
                      <li class='gallery__description-item'>{{name}}</li>{{/each}}
                      <li>&nbsp;| {{release_date}}</ul>
                </div>
            </li>
{{/each}}
