{{#each results}}
            <li class="gallery__item" id={{id}}>
                <img class="gallery__img" src=https://www.themoviedb.org/t/p/w500{{poster_path}} alt={{title}} />
                <div class="gallery__description">
                    {{#if title}}
                    <p class="gallery__title">{{title}}</p>
                    {{else if name}}
                    <p class="gallery__title">{{title}}</p>
                    {{/if}}
                    <div class='gallery__description-text'>
                        <ul class='gallery__description-list'>{{#each genre_ids}}
                            <li class='gallery__description-item'>{{name}}</li>{{/each}}&nbsp;|
                        </ul>
                        <div>&nbsp;{{#if release_date}} {{release_date}} {{else if first_air_date}} {{first_air_date}}{{/if}}</div>
                    </div>
                    
                </div>
            </li>
{{/each}}
