{{#if img}}
<img class="movie_modal_img" id={{id}} src=https://www.themoviedb.org/t/p/w500{{img}} alt="{{title}}">
{{else}}
<div class="gallery__img-error modal">Sorry... We don't have poster for this movie &#9785;</div>
{{!-- <img class="gallery__img modal" src={{photo_random}} alt="{{title}}" /> --}}
{{/if}}
  <div class="modal_movie_description">
    <div class="modal-table">
      <table class="moda_table-list">
        <h2 class="movie_name">
          {{title}}
        </h2>
        <tr>
          <td class="modal-table_name">Vote / Votes</td>
          <td><span class="table_vote">{{vote_average}}</span> / {{vote_count}}</td>
        </tr>
        <tr>
          <td class="modal-table_name">Popularity</td>
          <td>{{popularity}}</td>
        </tr>
        <tr>
          <td class="modal-table_name">Original Title</td>
          <td>{{original_title}}</td>
        <tr>
          <td class="modal-table_name">Genre</td>
        <td><ul>{{#each genres}}<li>{{name}}</li>{{/each}}</ul></td>
        </tr>
      </table>
    </div>
    <p class="about">about</p>
    <P class="modal_description-filme">{{overview}}</P>
    <div class="modal_buttnons">
      <button class="modal_btn modal_btn_wotched" type="button" id={{id}} data-value="watched" data-poster=https://www.themoviedb.org/t/p/w500{{img}}>add to Watched</button>
      <button class="modal_btn modal_btn_queue" type="button" id={{id}} data-value="queue" data-poster=https://www.themoviedb.org/t/p/w500{{img}}>add to queue</button>
    </div>
  </div>